<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Create New Book</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModel.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="overflow-wrap: break-word">
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Title:</label>
      <input class="form-control" type="text" formControlName="title" required>
      <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
        <div *ngIf="title.errors.required">Title is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label>Author:</label>
      <input class="form-control" formControlName="author" type="text" placeholder="Enter author..." required>
      <div *ngIf="author.invalid && (author.dirty || author.touched)" class="alert alert-danger">
        <div *ngIf="author.errors.required">Author is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label>Image source:</label>
      <input class="form-control" placeholder="Enter image source..." formControlName="imageSrc" type="text">
      <small class="text-warning">Only remote URL supported.</small><br>
      <small>https://salt.tikicdn.com/cache/200x200/ts/product/cf/f9/5e/31faa41dfe6feae3b7303bbb1e36db27.jpg</small>
    </div>

    <div class="form-group">
      <label>Price:</label>
      <input class="form-control" placeholder="Enter price..." formControlName="price" type="number">
      <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
        <div *ngIf="price.errors.required">Price is required.</div>
        <div *ngIf="price.errors.min">Price must be greater than 1.</div>
      </div>
    </div>

    <div class="form-group">
      <label>Rating:</label>
      <input class="form-control" placeholder="Enter rating..." formControlName="rating" type="number">
      <div *ngIf="rating.invalid && (rating.dirty || rating.touched)" class="alert alert-danger">
        <div *ngIf="rating.errors.required">Rating is required.</div>
        <div *ngIf="rating.errors.min || rating.errors.max">Rating must be in between 0 and 5.</div>
      </div>
    </div>
    <button type="submit" [disabled]="!bookForm.valid" class="btn btn-primary w-100">Save</button>
  </form>

</div>